body{
    margin : 0px;
}
#box1 {
    border : 5px solid;
    width: 250px;
    height : 250px;
    font-size : 22px;
    background : purple;
    padding: 50px;

    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
#box2 
   {
     border:5px solid;
     width: 250px;
     height: 250px;
     font-size : 22px;
     background: darkblue;
     padding: 50px;
     margin-left: auto;
   }