a.link {
    color:lawngreen;
}
a.visited{
    color:antiquewhite;
}
a:hover {
    color : tomato;
}
a:active{
    color:yellow;
}
button:hover{
    background-color :green;
}
li:nth-child(even){
    background-color:yellow ;
}